.alcohol__list {
  width: auto;
}

.alcohol__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}

.alcohol__text {
  margin-right: auto;
  font-weight: bold;
}

.alcohol__price {
  margin-left: 30px;
  margin-right: 30px;
}

.IconButton {
  margin-left: 30px;
}
