.Alcohol__list {
  width: 700px;
}

.Alcohol__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Alcohol__discription {
  margin-right: 5px;
}

.Alcohol__input {
  width: 50px;
  margin-right: 8px;
}
