.alcohol__list {
  width: auto;
}

.alcohol__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}

.alcohol__text {
  margin: 0 auto 0 0;
  font-weight: bold;
}
.alcohol__litres {
  margin: 0 10px 0 10px;
}

.alcohol__price {
  margin: 0 10px 0 10px;
  width: min-content;
}

.IconButton {
  margin-left: 5px;
}
