.bottlelist {
  width: 800px;
}

.bottlelist__item {
  display: flex;
  justify-content: space-between;
}

.bottleList__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottleList__add {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
